flask==2.3.3
langchain==0.3.10
langchain-community==0.3.10
langchain-core==0.3.25
langchain-text-splitters==0.3.2
langchain-pinecone==0.2.13
pinecone==7.3.0
langchain-huggingface==0.1.2
sentence-transformers==5.1.2
transformers==4.57.1
huggingface-hub==0.36.0
torch==2.5.1
gunicorn==21.2.0
python-dotenv==1.2.1
requests==2.32.5